<h2 class="lists_counter_title">You have <%= pluralize(@lists.size, "item") %></h2>

<ul class="all_lists">
  <% @lists.each do |list| %>
    <li id="list_<%= list.id %>">
      <%= link_to list.title, user_list_path(current_user, list), class: "show_list" %>
      <%= link_to "remove", user_list_path(current_user, list), method: :delete, remote: true, class: "remove_list" %>
    </li>
  <% end %>
</ul>
<%= link_to "Add new list", new_user_list_path(current_user), id: "add_new_list", remote: true %>