<% if @item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
 
    <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h2><%= @list.title %></h2>
<div class="edit-list-form">
  <%= form_for @list, :url => {:action => "update"} do |f| %>
    <%= f.text_field :title %>
    <%= f.submit "Update list title", :class => "btn-title-upd", :disabled => "disabled" %>
  <% end %>
</div>

<%= form_for @item, url: user_list_items_path(@user.id, @list.id) do |f| %>  <!-- :url => {:controller => :items,  :action => "create", user_id: @user.id, list_id: @list.id} -->

  <%= f.text_field :todo %>
  <%= f.submit "Add item", :class => "btn-add-item", :disabled => "disabled" %>
<% end %>

<ul>
  <% @items.each do |item| %>
    <li><%= item.todo %><%= link_to "delete", user_list_item_path(@user.id, @list.id, item.id), method: :delete %></li>
  <% end %>
</ul>

<div class="time">
  <p>Created: <%= @list.created_at %></p>
</div>


<%= link_to 'delete', user_list_path, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn-list-delete" %>

<%= link_to "see my all lists", user_lists_path %>
<%= link_to "create new list", new_user_list_path %>

<script type="text/javascript">
  
  $('#item_todo').keyup(function(){
    if ($('#item_todo').val().length > 0) {
      $('.btn-add-item').removeAttr("disabled");
    }
    else {
      $('.btn-add-item').attr("disabled","disabled");
    }
  });


  var currentTitle = $('#list_title').val();
  $('#list_title').keyup(function(){
    if ($(this).val() == 0 || $(this).val() == currentTitle ) {
      $('.btn-title-upd').attr("disabled","disabled");
    }
    else {
     $('.btn-title-upd').removeAttr("disabled");
    }

  });


  $.ajax({
    url: "/items",
    type: "POST",
    data: {todo: "vasyaajax"},
    success: function(resp){ 
      alert("OKKK")
    }
  });


</script>