<h2><%= @list.title %></h2>
<div class="edit-list-form">
  <%= form_for @list, :url => {:action => "update"} do |f| %>
    <%= f.text_field :title %>
    <%= f.submit "Update list's title" %>
  <% end %>
</div>

<%= form_for @item, url: user_list_items_path(@user.id, @list.id) do |f| %>  <!-- :url => {:controller => :items,  :action => "create", user_id: @user.id, list_id: @list.id} -->
  <%= f.text_field :todo %>
  <%= f.submit "Add item" %>
<% end %>

<ul>
  <% @items.each do |item| %>
    <li><%= item.todo %><%= link_to "delete", user_list_item_path(@user.id, @list.id, item.id), method: :delete %></li>
  <% end %>
</ul>

<div class="time">
  <p>Created: <%= @list.created_at %></p>
</div>


<%= link_to 'delete', user_list_path, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn-list-delete" %>

<%= link_to "see my all lists", user_lists_path %>
<%= link_to "create new list", new_user_list_path %>
