<% if @item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
 
    <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h2 class="list_header"><%= @list.title %></h2> <span id="update_list_litle">(update)</span>
<div class="edit-list-form">
  <%= form_for [current_user, @list], method: 'put' do |f| %>
    <%= f.text_field :title %>
    <%= f.submit "Update list title", :class => "btn-title-upd", :disabled => true %>
  <% end %>
</div>

<%= form_for [current_user, @list, @item], remote: true do |f| %> 
  <%= f.text_field :todo, placeholder: "What to do?" %>
  <%= f.submit "Add item", :class => "btn-add-item", :disabled => true %>
<% end %>

<%= render partial: "items/items" %>

<div class="time">
  <p>Created: <%= @list.created_at %></p>
  <p>Last updated: <%= @list.updated_at %></p>
</div>


<%= link_to 'delete this list', [current_user, @list], method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn-list-delete" %>
<%= link_to "see my all lists", user_lists_path %>
<%= link_to "create new list", new_user_list_path %>