<%= content_for :login do %>
  <div class="devise_form">
    <p class="alert"><%= alert %></p>
    <h2>SIGN UP</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <%= f.text_field :login, class: "input", placeholder: "Login" %>
      <%= f.email_field :email, autofocus: true, class: "input", placeholder: "Email Address" %>

      <div class="field">
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "input", placeholder: "Password" %>
      </div>


      <%= f.password_field :password_confirmation, autocomplete: "off", class: "input", placeholder: "Repeat Password" %>
        
      <%= f.fields_for :profile do |profile_f| %>
        <%= profile_f.text_field :name, class: "input", placeholder: "Name" %>
        <%= profile_f.text_field :surname, class: "input", placeholder: "Last Name" %>
        <%= profile_f.number_field(:age, in: 1..80, step: 1, class: "input", placeholder: "Age") %>
        <%= profile_f.label :genre_male, 'Male' %>
        <%= profile_f.radio_button :genre, 'male' %>
        <%= profile_f.label :genre_female, "Female" %>
        <%= profile_f.radio_button :genre, 'female' %>
      <% end %>

      <div class="actions">
        <%= f.submit "Sign up", class: "login_btn" %>
      </div>
    <% end %>
  </div>
<% end %>
