<%= content_for :login do %>
  <div class="devise_form">
    <p class="alert"><%= alert %></p>
    <h2>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, autofocus: true, class: "input", placeholder: "Email Address" %>
      <%= f.password_field :password, autocomplete: "off", class: "input", placeholder: "Password" %>
      <%= f.submit "Login", class: "login_btn" %>

      <% if devise_mapping.rememberable? -%>
        <div class="remember_me">
          <%= f.check_box :remember_me, class: "remember_checkbox" %>
          <%= f.label :remember_me, class: "remember_me_label" %>
        </div>
      <% end -%>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name), class: "forgot" %><br />
      <% end -%>
    <% end %>
  </div>
<% end %>